.card {
  display: flex;
  background-color: #dfdfdf;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  height: 250px; 
  width: 450px;
}

.card-image {
  width: 40%;
  max-width: 200px;
  padding-right: 10px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%; 
}

.card-details {
  width: 50%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
}

.card-name {
  font-size: 1.65rem;
  margin: 0;
  font-weight: 100;
}

.bar-chart {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  margin-top: 5px;
}

.bar {
  background-color: #ff6118;
  border-radius: 15px;
  height: 100%;
}

.stat {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.stat-title {
  flex: 1;
  margin-right: 10px;
  font-size: 1.25rem;
}

.stat-bar {
  flex: 3;
  background-color: #b9b8b8;
  height: 30px;
  border-radius: 15px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-icon {
  width: 46px; 
  height: auto; 
  margin-right: 5px;
  flex-shrink: 0; /* Prevent icons from shrinking */
}

.add-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 25%;
}

.add-button {
  color: #ff6118;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.7rem;
  font-family: inherit;
  margin: 0px;
}

.remove-button-container {
  display: flex;
  align-items: flex-start;
  color: #ff6118;
  font-size: 1.7rem;
}